* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #324a5f;
    --secondary-color: #CBD8E4;
    --dark-color: #0c1821;
    --light-color: #ccc9dc;
    --danger-color: #f44336;
    --success-color: #4caf50;
    --warning-color: #ff9800;
    --info-color: #2196f3;
    --border-radius: 0.50rem;
    --transition: all 0.3s linear;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.container {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap
}

.cards{
    cursor: pointer;
}
.cards img {
    width: 150px;
    height: 150px;
    margin: 1rem 0.5rem auto;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.signTitle{
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    margin: 0.5rem;
}

.description-card {
    position: fixed;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    padding: 0.8rem;
    width: 22rem;
    height: 40rem;
    border: 2px solid var(--secondary-color);
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

    .description-card img {
        width: 100%;
        height: 50%;
        border-radius: 15px;
        overflow: hidden;
        display: block;
        margin: auto;
        object-fit: cover;
        
        animation: fadeIn 1s;
    }

.overlay {
    position: fixed; /* Cover the whole viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 10; /* Ensure it's below the description card */

    animation: fadeIn 0.5s;
}

.search-input {
    margin-right: 1rem;
}

.search-input input {
    padding: 0.24rem;
    border-radius: var(--border-radius);
    border: none;
    margin: 0.5rem;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    transition: var(--transition);
}

.header{
    position: sticky;
    top: 0;
    background-color: var(--dark-color);
    padding: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    margin: 0.5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}

.char-dropdown-container {
    /* Adjust placement and styling as needed */
}

.charDropdown {
    padding: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;
}

    /* Style for dropdown options if needed */
    .charDropdown option {
        padding: 0.5rem;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }